
@{
    ViewBag.Title = "TatCaSach";
    Layout = "~/Areas/AdminSite/Views/Shared/AdminLayout.cshtml";
}
@using BookStoreFinal.Models
@model PagedList.IPagedList<BOOKS>
@using PagedList.Mvc


<div class="container">
    <div class="row">
        <div class="animated fadeIn">
            <div class="row">
                <div class="card-header col-sm-11">
                    <form class="form-inline my-2 my-lg-0 " method="post" action="@Url.Action("TimKiem","AdminQuanLySach")">
                        <input class="form-control mr-sm-2 col-sm-2" name="TenSach" type="text" placeholder="Tên sách">
                        <button type="submit" class="btn btn-dark rounded">Tìm kiếm</button>
                    </form>
                </div>
                <div class="card-header col-sm-1 btn-add">
                    <a class="btn btn-success rounded" href="@Url.Action("ThemSach","AdminQuanLySach")"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table id="mytable" class="table table-bordred table-striped">

                            <thead>
                            <th>Tên sách</th>
                            <th>Loại sách</th>
                            <th>Tác giả</th>
                            <th>Đơn giá</th>
                            <th>Nhà phát hành</th>
                            <th>Sửa</th>
                            <th>Xóa</th>
                            </thead>
                            <tbody>
                                @foreach (var sach in (@Model as IEnumerable<BOOKS>))
                                {
                                    var @DonGia = @sach.PRICE != null ? @sach.PRICE : 0;
                                    //var @GiaKM = @sach.Giakm != null ? @sach.Giakm : 0;
                                    <tr class="data-table">
                                        <td>@sach.TITLE</td>
                                        <td>@sach.GENRE.NAME</td>
                                        <td>@sach.AUTHOR.NAME</td>
                                        <td>@DonGia</td>
                                        <td>@sach.PUBLISHER.NAME</td>
                                        <td>
                                            <p data-placement="top" data-toggle="tooltip" title="Edit">
                                                <a href="@Url.Action("SuaSach","AdminQuanLySach",new { MaSach = @sach.ID })">
                                                    <button type="button" class="btn btn-primary btn-xs btn-sm rounded" data-title="Edit" data-toggle="modal" data-target="#edit">
                                                        <span class="fa fa-edit"></span>
                                                    </button>
                                                </a>
                                            </p>
                                        </td>
                                        <td>

                                            <p data-placement="top" class="modal-delete" data-toggle="tooltip" title="Delete">
                                                <a class="btn btn-danger btn-xs btn-sm rounded" data-title="Delete" id="@sach.ID" data-toggle="modal" data-target="#myModal">
                                                    <i class="fa fa-trash" aria-hidden="true" style="color:#ffffff"></i>
                                                </a>
                                            </p>
                                        </td>
                                    </tr>
}
                            </tbody>
                        </table>
                        <br />


                        @Html.PagedListPager(Model, page => Url.Action("TatCaSach", new { page }),
                                new PagedListRenderOptions()
                                     {
                                         LiElementClasses = new List<string> { "page-item" },
                                    UlElementClasses = new List<string> { "pagination" }
                                })
                    </div>

                </div>
            </div>
        </div><!-- .animated -->
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Xác nhận</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa không ?</p>
            </div>
            <input type="text" hidden id="idSach" />
            <div class="modal-footer">
                <button class="btn btn-danger rounded" id="btnDelete">Có</button>
                <button type="button" class="btn btn-success rounded" data-dismiss="modal">Không</button>
            </div>
        </div>

    </div>
</div>

<script>
// xóa sách
    $('#myModal').on('show.bs.modal', (e) => {
        const link = e.relatedTarget;
        let MaSach = parseInt(jQuery(link).attr('id'));
        jQuery('#btnDelete').click(() => {
            jQuery.ajax({
                url: '/AdminQuanLySach/XoaSach',
                method: 'POST',
                data: { MaSach },
                dataType: 'text',
                success: (response) => {
                    response = JSON.parse(response)
                    if (response.status == true) {
                        jQuery('#myModal').modal('hide');
                        location.reload();
                    } else {
                        alert('Xóa sản phẩm thất bại!')
                    }
                }
            })
        })
    });
    $(".pagination .page-item a").addClass("page-link");</script>
<style>
    .pagination .active {
        color: white;
        background: #007bff;
    }
</style>

    
